* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    display: flex;
    justify-content: center;
 }

html {
    font-size: 16px;
}


 .header {
   display: flex;
   justify-content: center;
   padding: 20px;
   background-color: beige;
 }


.findUser {
    display: flex;
    justify-content: center;
   margin-top: 45px;
}

.box{
    width: 35%;
    height: 50vh;
    border: 1px solid black;
}

.profileImage {
    display: flex;
    justify-content: center;
}

.userDetails {
    margin-top: 30px;
    margin-left: 50px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}